
html, body {
	height: 100%;

}
html, body, input, button {
	font-family: monospace;
}
body, h1, h2, p {
	margin: 0;
	padding: 0;
}

header {
	background: rgba(255, 255, 255, 0.6);
	width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.7);
    height: 50px;	
}

header ul {
	padding: 0;
	margin: 0;
}
	header ul li {
		list-style: none;
		margin: 10px;
		float: left;
	    font-size: 24px;	
	}
		header ul li a {
			color: #1DA1F2;
			font-weight: bold;
			text-decoration: none;
			padding: 10px 10px 9px;

		}
		header ul li a.active,
		header ul li a:hover  {
			border-bottom: 2px solid #1DA1F2;

		}

header #nav-menu {
	float: left;
}
header #nav-auth {
	float: right;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.error {
	border: 2px solid #cc0000;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }



/*

Form styles

*/

input {
	border-radius: 5px;
    outline: none;
    border: 2px solid cornflowerblue;
    padding: 10px;
    width: 250px;
    color: #222;
    display: block;
    margin: 20px 0;
}
button {
    cursor: pointer;
    background: seagreen;
    color: #FFF;
    font-size: 24px;
    border-radius: 5px;
    padding: 5px 20px;
    min-width: 150px;
    border: 2px solid cornflowerblue;
}
	button:hover {
	    background: cornflowerblue;
	    border: 2px solid seagreen;
	}

form {
	width: 300px;
	height: 280px;
	padding: 40px;
	border: 2px solid cornflowerblue;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.8);
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 190px);
}
	form h2 {
		font-size: 24px;
		color: darkgreen;
		text-align: center;
	}
	form p {
		text-align: center;
	}
	form input {
		width: calc(100% - 24px);
	}
	form button {
		float: right;
	}

.bg-page {
	background: url(img/register-bg.jpg);
    background-size: cover;
    background-position: center top;
    height: calc(100% - 52px);
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
}

.register-bg {
    background-image: url(img/register-bg.jpg);
}
.login-bg {
    background-image: url(img/login-bg2.jpg);
}

#wrapper-page {
	width: 800px;
	margin: 0 auto;
}